apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
  namespace: student
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: student-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: student-app
    spec:
      imagePullSecrets:
{{- toYaml .Values.imagePullSecrets | nindent 8 }}
      containers:
      - name: student-app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 80
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: {{ .Values.envSecret }}
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.envSecret }}
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.envSecret }}
              key: DB_PASS
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.envSecret }}
              key: DB_NAME
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 20
          periodSeconds: 10
